html {
    box-sizing: border-box;
    font-size: 14px;
    scroll-behavior: smooth;
    background-color: lawngreen;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/*
.img-box {
    position: relative;
    padding: 1rem;
    overflow: hidden;
    width: 70%;
    margin-left: auto;
    transition: all ease-in-out .3s;
    margin-bottom: 1rem;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all ease-in-out .5s;
}

.img-box:hover {
    color: rgba(0, 0, 0, 0.75);
}

.img-box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all ease-in-out .5s;
}

.img-box:hover::after,
.img-box:hover,
.img-box:hover img {
    filter: none;
    -webkit-filter: none;
    mix-blend-mode: unset !important;
    background: transparent;
}

@media (min-width: 576px) {
    .img-box {
        width: 30%;
    }
}

.flat-retro {
    background-color: #FCA300;
}

.flat-retro img {
    mix-blend-mode: darken;
    -webkit-filter: grayscale(100%) contrast(1.5);
    filter: grayscale(100%) contrast(1.5);
}

.flat-retro::after {
    background-color: #e23241;
    mix-blend-mode: lighten;
}
*/

/*  */
::selection {
    background-color: magenta;
    color: white;
}

/*  */

body {
    font-family: Helvetica, sans-serif;
    /* font-family: sans-serif; */
    line-height: 1.5;
    background-color: dodgerblue;
    color: cyan;
    transition: 0.4s;
}

.theme-mode {
    background-color: black;
    color: grey;
}

/*  */

.page {
    min-height: 100vh;
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

.page>* {
    padding: 1rem 0;
}

@media (min-width: 576px) {
    .page {
        max-width: 90%;
    }
}

@media (min-width: 1200px) {
    .page {
        max-width: 1140px;
    }
}

.flex-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 0.5rem 0;
}

h1,
button,
a {
    font: inherit;
    color: inherit;
    font-size: 1rem;
    font-weight: normal;
}

button#mode {
    background: none;
    border: none;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:active {
    color: white;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.bb {
    border-bottom: 1px solid;
}

.bt {
    border-top: 1px solid;
}

nav ul {
    list-style: none;
    margin: 2rem auto 2rem 2rem;
}

article p:first-child {
    width: 70%;
    margin-right: auto;
}

article p:last-child {
    width: 70%;
    margin-left: auto;
}

@media (min-width: 576px) {

    article p:first-child,
    article p:last-child {
        width: 30%;
    }
}