html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
    background-color: lawngreen;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

::selection {
    background-color: magenta;
    color: white;
}
/*  */

body {
    font-family: sans-serif;
    line-height: 1.5;
    background-color: dodgerblue;
    color: cyan;
    transition: 0.4s;
}

.theme-mode {
    background-color: black;
    color: grey;
}

/*  */

.page {
    min-height: 100vh;
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

.page>* {
    padding: 1rem 0;
}

@media (min-width: 576px) {
    .page {
        max-width: 90%;
    }
}

@media (min-width: 1200px) {
    .page {
        max-width: 1140px;
    }
}

.flex-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

h1,
button,
a {
    font: inherit;
    color: inherit;
    font-size: 1rem;
    font-weight: normal;
}

button#mode {
    background: none;
    border: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.bb {
    border-bottom: 1px solid;
}

.bt {
    border-top: 1px solid;
}

nav ul {
    list-style: none;
    margin: 2rem auto 2rem 2rem;
}

article p:first-child {
    width: 70%;
    margin-right: auto;
}

article p:last-child {
    width: 70%;
    margin-left: auto;
}

@media (min-width: 576px) {

    article p:first-child,
    article p:last-child {
        width: 30%;
    }
}