html {
    box-sizing: border-box;
    font-size: 14px;
    scroll-behavior: smooth;
    background-color: #75ebe9;
}

html {
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

::selection {
    background-color: magenta;
    color: white;
}

/*  */

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    /* background-color: dodgerblue;
    color: cyan; */
    /* background: #003257; */
    background: linear-gradient(90deg, #003257, #316697);
    color: #75ebe9;
    transition: 0.4s;
}

.body-mode {
    background: black;
    color: grey;
}

/*  */

.page {
    min-height: 100vh;
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
}

.page>* {
    padding: 1rem 0;
}

@media (min-width: 576px) {
    .page {
        max-width: 90%;
    }
}

@media (min-width: 1200px) {
    .page {
        max-width: 1140px;
    }
}

.space-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 0.5rem 0;
}

h1,
a {
    font: inherit;
    background: transparent;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button#mode {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
}

.bb {
    border-bottom: 1px solid;
}

.bt {
    border-top: 1px solid;
}

nav ul {
    list-style: none;
    margin: 2rem auto 2rem 2rem;
}

nav ul li {
    margin-bottom: 0.5rem;
}

li a {
    text-decoration: underline;
    text-underline-offset: 4px;
}

li a:hover,
li a:active {
    color: yellow;
}

article.about {
    margin-top: 20vh;
}

article.contact {
    text-align: right;
    margin-bottom: 20vh;
}

.contact a:hover {
    color: yellow;
}